$font: 'Open Sans', sans-serif;
$regular: 400;
$bold: 700;
$extra-bold: 800;
$size-parrafo: 15px;
$size-titulo: 50px;
$size-subtitulo: 20px;
$size-sections: 30px;
$align-center: center;
$align-left: left;
$align-right: right;
$align-justify: justify;
$size-titulo-L: 150px;
$size-subtitulo-L: 35px;
$size-sections-L: 65px;
$size-parrafo-L: 17px;
$size-titulo-M: 90px;
$size-subtitulo-M: 23px;
$size-sections-M: 45px;